In [2]:
import pandas as pd
from sqlalchemy import create_engine
from tabulate import tabulate
df = pd.read_csv("employee_data.csv",sep='|',header=0,engine='python')
df_csv = pd.DataFrame(df)
filtered_df = df[df["EmployeeID"] == 16]
print(tabulate(filtered_df, headers = 'keys', tablefmt = 'psql'))
#print(tabulate(df, headers = 'keys', tablefmt = 'psql'))
#print(df_csv)

+----+--------------+-------------+------------+----------+-------+--------------+------------+-----------+-----------+------------------------+---------------+------------+----------+---------+-----------+--------------------+--------------+----------------+------------------+---------------------+
|    |   EmployeeID | FirstName   | LastName   | Gender   |   Age | Department   | Position   | Country   | City      | Email                  | PhoneNumber   | HireDate   |   Salary |   Bonus | Manager   | PerformanceScore   | RemoteWork   | ContractType   | EmployeeStatus   | LastPromotionDate   |
|----+--------------+-------------+------------+----------+-------+--------------+------------+-----------+-----------+------------------------+---------------+------------+----------+---------+-----------+--------------------+--------------+----------------+------------------+---------------------|
| 15 |           16 | Ava         | Davis      | Male     |    56 | Finance      | Manager    | UK        | SÃ£o Paulo | employee16@example.com | +1-555-2365   | 2021-11-30 |    63375 |    9572 | True      | C                  | True         | Full-time      | Terminated       | 2023-05-26          |
+----+--------------+-------------+------------+----------+-------+--------------+------------+-----------+-----------+------------------------+---------------+------------+----------+---------+-----------+--------------------+--------------+----------------+------------------+---------------------+