In [6]:
import pandas as pd
from sqlalchemy import create_engine
from tabulate import tabulate

# connection details
server = "jarbdatabase.database.windows.net,1433"
database = "Azure_EmployeeDB"
username = "johan.robelto.bayona@johanrobeltobayonaoutlook.onmicrosoft.com"
password = "Outnano92"

# IMPORTANT: use the proper ODBC driver installed on your machine
driver = "ODBC Driver 17 for SQL Server"

# create SQLAlchemy engine string with Active Directory Interactive auth
conn_str = (
    f"mssql+pyodbc://{username}@{server}/{database}"
    f"?driver={driver.replace(' ', '+')}"
    f"&Authentication=ActiveDirectoryInteractive"
    f"&Encrypt=yes"
    f"&TrustServerCertificate=no"
)

# create engine
engine = create_engine(conn_str)

# now this is fully supported by pandas
query = "SELECT TOP 10 * FROM [SalesLT].[Customer]"
df = pd.read_sql(query, engine)
df_sql = df[df["CustomerID"] == 1]
print(tabulate(df_sql, headers = 'keys', tablefmt = 'psql'))

+----+--------------+-------------+---------+-------------+--------------+------------+----------+---------------+-------------------------+------------------------------+--------------+----------------------------------------------+----------------+--------------------------------------+---------------------+
|    |   CustomerID | NameStyle   | Title   | FirstName   | MiddleName   | LastName   | Suffix   | CompanyName   | SalesPerson             | EmailAddress                 | Phone        | PasswordHash                                 | PasswordSalt   | rowguid                              | ModifiedDate        |
|----+--------------+-------------+---------+-------------+--------------+------------+----------+---------------+-------------------------+------------------------------+--------------+----------------------------------------------+----------------+--------------------------------------+---------------------|
|  0 |            1 | False       | Mr.     | Orlando     | N.           | Gee        |          | A Bike Store  | adventure-works\pamela0 | orlando0@adventure-works.com | 245-555-0173 | L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w= | 1KjXYs4=       | 3F5AE95E-B87D-4AED-95B4-C3797AFCB74F | 2005-08-01 00:00:00 |
+----+--------------+-------------+---------+-------------+--------------+------------+----------+---------------+-------------------------+------------------------------+--------------+----------------------------------------------+----------------+--------------------------------------+---------------------+

In [2]:
import pandas as pd
from tabulate import tabulate
df = pd.read_csv("customers_pipe_newheaders.csv",sep='|',header=0,engine='python')
df_csv = pd.DataFrame(df)
df_csv = df[df["CustomerID"] == 1]
print(tabulate(df_csv, headers = 'keys', tablefmt = 'psql'))

+----+--------------+--------------+---------+--------------+---------------+-------------+----------+-------------------+------------------------+---------------------+----------------+----------------------------------+-----------------+--------------------------------------+---------------------+
|    |   CustomerID | Name_Style   | Title   | First_Name   | Middle_Name   | Last_Name   | Suffix   | Company_Name      | Sales_Person           | Email_Address       | Phone          | Password_Hash                    | Password_Salt   | rowguid                              | Modified_Date       |
|----+--------------+--------------+---------+--------------+---------------+-------------+----------+-------------------+------------------------+---------------------+----------------+----------------------------------+-----------------+--------------------------------------+---------------------|
|  0 |            1 | True         | Mrs.    | Sam          | A.            | Lee         | Sr.      | Wayne Enterprises | adventure-works\frank1 | sam.lee@company.com | (743) 526-7003 | ce2ad6c7472943aca5c79abf39da0af8 | e7b0179c        | a61de97a-84d0-4a60-8201-92a7445799ed | 2025-11-11 00:29:26 |
+----+--------------+--------------+---------+--------------+---------------+-------------+----------+-------------------+------------------------+---------------------+----------------+----------------------------------+-----------------+--------------------------------------+---------------------+

In [14]:
comparison = df_csv.equals(df_sql)
print("DataFrames are identical:", comparison)

DataFrames are identical: False

In [13]:
compare_cols = ['CustomerID', 'FirstName', 'LastName']

differences = df_csv[compare_cols].merge(
    df[compare_cols],
    on='CustomerID',
    suffixes=('_csv', '_sql')
)

differences = differences[differences['FirstName_csv'] != differences['FirstName_sql']]
print(differences)

KeyError: "['FirstName', 'LastName'] not in index"

In [ ]:
column_mapping = {

    "CustomerID": "CustomerID",
    "Title": "Title",
    "Name_Style": "NameStyle",
    "First_Name": "FirstName",
    "Middle_Name": "MiddleName",
    "Last_Name": "LastName",
    "Company_Name": "CompanyName",
    "Sales_Person": "SalesPerson",
    "Email_Address": "EmailAddress",
    "Password_Hash": "PasswordHash",
    "Password_Salt": "PasswordSalt", 
    "Modified_Date": "ModifiedDate"
}

df_csv_renamed = df_csv.rename(columns=column_mapping)

df_csv_renamed = df_csv_renamed.astype(str) 
df_sql = df_sql.astype(str)

merged = df_csv_renamed.merge(
    df_sql,
    on="CustomerID",
    how="outer",
    suffixes=("_csv", "_sql"),
    indicator=True
)

# -----------------------
# 7Ô∏è‚É£ Identify missing rows
# -----------------------
only_in_csv = merged[merged["_merge"] == "left_only"]
only_in_sql = merged[merged["_merge"] == "right_only"]

# -----------------------
# 8Ô∏è‚É£ Find rows present in both but with differences
# -----------------------
in_both = merged[merged["_merge"] == "both"]

diff_rows = []

for _, row in in_both.iterrows():
    differences = {}
    for col in df_csv_renamed.columns:
        if col == "CustomerID":
            continue
        csv_val = row.get(f"{col}_csv")
        sql_val = row.get(f"{col}_sql")
        if csv_val != sql_val:
            differences[col] = {"CSV": csv_val, "SQL": sql_val}
    if differences:
        diff_rows.append({
            "CustomerID": row["CustomerID"],
            "Differences": differences
        })

# Convert to DataFrame for easier viewing
df_differences = pd.DataFrame(diff_rows)

# -----------------------
# 9Ô∏è‚É£ Output results
# -----------------------
print("üîπ Rows only in CSV:", len(only_in_csv))
print("üîπ Rows only in SQL:", len(only_in_sql))
print("üîπ Rows with column differences:", len(df_differences))

# Optional: export reports
only_in_csv.to_csv("only_in_csv.csv", index=False)
only_in_sql.to_csv("only_in_sql.csv", index=False)
df_differences.to_json("differences.json", orient="records", indent=2)

print("\nDetailed column-level differences saved to differences.json ‚úÖ")

üîπ Rows only in CSV: 0
üîπ Rows only in SQL: 0
üîπ Rows with column differences: 1

Detailed column-level differences saved to differences.json ‚úÖ

In [10]:
merged_key = df_csv_renamed.merge(df_sql, on="CustomerID", how="outer", suffixes=("_csv", "_sql"), indicator=True)
differences = merged_key[merged_key["_merge"] != "both"]

In [52]:
import pandas as pd
from tabulate import tabulate
df = pd.read_csv("customers_pipe.csv",sep='|',header=0,engine='python')
df_csv = pd.DataFrame(df)
df_csv = df[df["CustomerID"] == 1]
#print(tabulate(filtered_df, headers = 'keys', tablefmt = 'psql'))
merged = df_csv.merge(df_sql, on="CustomerID", suffixes=("_csv", "_sql"), how="outer", indicator=True)
# Show differences
diffs = merged[merged['_merge'] != 'both']
print(diffs)

Empty DataFrame
Columns: [CustomerID, NameStyle_csv, Title_csv, FirstName_csv, MiddleName_csv, LastName_csv, Suffix_csv, CompanyName_csv, SalesPerson_csv, EmailAddress_csv, Phone_csv, PasswordHash_csv, PasswordSalt_csv, rowguid_csv, ModifiedDate_csv, NameStyle_sql, Title_sql, FirstName_sql, MiddleName_sql, LastName_sql, Suffix_sql, CompanyName_sql, SalesPerson_sql, EmailAddress_sql, Phone_sql, PasswordHash_sql, PasswordSalt_sql, rowguid_sql, ModifiedDate_sql, _merge]
Index: []

[0 rows x 30 columns]

In [55]:
common_cols = list(set(df_csv.columns).intersection(df_sql.columns))

csv_df = df_csv[common_cols]
sql_df = df_sql[common_cols]

csv_df = csv_df.sort_values(by="CustomerID").reset_index(drop=True)
sql_df = sql_df.sort_values(by="CustomerID").reset_index(drop=True)

# Merge both datasets
merged = csv_df.merge(sql_df, on="CustomerID", suffixes=('_csv', '_sql'), how='outer', indicator=True)

# Find missing in SQL
missing_in_sql = merged[merged['_merge'] == 'left_only']

# Find missing in CSV
missing_in_csv = merged[merged['_merge'] == 'right_only']

# Find potential mismatches
common = merged[merged['_merge'] == 'both']

mismatched = []
for col in common_cols:
    if col != 'CustomerID':
        diff = common[common[f"{col}_csv"] != common[f"{col}_sql"]]
        if not diff.empty:
            mismatched.append((col, diff[['CustomerID', f'{col}_csv', f'{col}_sql']]))
            
            
print("‚úÖ Records missing in SQL:")
print(missing_in_sql)

print("\n‚ùå Records missing in CSV:")
print(missing_in_csv)

print("\n‚ö†Ô∏è Column Mismatches:")
for col, df in mismatched:
    print(f"\nColumn: {col}")
    #print(df)
    print(tabulate(df, headers = 'keys', tablefmt = 'psql'))

‚úÖ Records missing in SQL:
Empty DataFrame
Columns: [CompanyName_csv, LastName_csv, EmailAddress_csv, rowguid_csv, Title_csv, MiddleName_csv, PasswordHash_csv, CustomerID, Phone_csv, NameStyle_csv, Suffix_csv, FirstName_csv, SalesPerson_csv, ModifiedDate_csv, PasswordSalt_csv, CompanyName_sql, LastName_sql, EmailAddress_sql, rowguid_sql, Title_sql, MiddleName_sql, PasswordHash_sql, Phone_sql, NameStyle_sql, Suffix_sql, FirstName_sql, SalesPerson_sql, ModifiedDate_sql, PasswordSalt_sql, _merge]
Index: []

[0 rows x 30 columns]

‚ùå Records missing in CSV:
Empty DataFrame
Columns: [CompanyName_csv, LastName_csv, EmailAddress_csv, rowguid_csv, Title_csv, MiddleName_csv, PasswordHash_csv, CustomerID, Phone_csv, NameStyle_csv, Suffix_csv, FirstName_csv, SalesPerson_csv, ModifiedDate_csv, PasswordSalt_csv, CompanyName_sql, LastName_sql, EmailAddress_sql, rowguid_sql, Title_sql, MiddleName_sql, PasswordHash_sql, Phone_sql, NameStyle_sql, Suffix_sql, FirstName_sql, SalesPerson_sql, ModifiedDate_sql, PasswordSalt_sql, _merge]
Index: []

[0 rows x 30 columns]

‚ö†Ô∏è Column Mismatches:

Column: CompanyName
+----+--------------+-------------------+-------------------+
|    |   CustomerID | CompanyName_csv   | CompanyName_sql   |
|----+--------------+-------------------+-------------------|
|  0 |            1 | BrightCorp        | A Bike Store      |
+----+--------------+-------------------+-------------------+

Column: LastName
+----+--------------+----------------+----------------+
|    |   CustomerID | LastName_csv   | LastName_sql   |
|----+--------------+----------------+----------------|
|  0 |            1 | Jones          | Gee            |
+----+--------------+----------------+----------------+

Column: EmailAddress
+----+--------------+--------------------+------------------------------+
|    |   CustomerID | EmailAddress_csv   | EmailAddress_sql             |
|----+--------------+--------------------+------------------------------|
|  0 |            1 | dseoi@example.com  | orlando0@adventure-works.com |
+----+--------------+--------------------+------------------------------+

Column: rowguid
+----+--------------+--------------------------------------+--------------------------------------+
|    |   CustomerID | rowguid_csv                          | rowguid_sql                          |
|----+--------------+--------------------------------------+--------------------------------------|
|  0 |            1 | 20e37dc8-e885-43ee-8303-60ded22c8ab4 | 3F5AE95E-B87D-4AED-95B4-C3797AFCB74F |
+----+--------------+--------------------------------------+--------------------------------------+

Column: MiddleName
+----+--------------+------------------+------------------+
|    |   CustomerID | MiddleName_csv   | MiddleName_sql   |
|----+--------------+------------------+------------------|
|  0 |            1 | E.               | N.               |
+----+--------------+------------------+------------------+

Column: PasswordHash
+----+--------------+------------------------------------------------------------------+----------------------------------------------+
|    |   CustomerID | PasswordHash_csv                                                 | PasswordHash_sql                             |
|----+--------------+------------------------------------------------------------------+----------------------------------------------|
|  0 |            1 | 4279bf422d40c9e7fd511e699c94b83740d2d9885261b93db4a1728a017329a1 | L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w= |
+----+--------------+------------------------------------------------------------------+----------------------------------------------+

Column: Phone
+----+--------------+----------------+--------------+
|    |   CustomerID | Phone_csv      | Phone_sql    |
|----+--------------+----------------+--------------|
|  0 |            1 | (571) 112-3134 | 245-555-0173 |
+----+--------------+----------------+--------------+

Column: NameStyle
+----+--------------+-----------------+-----------------+
|    |   CustomerID | NameStyle_csv   | NameStyle_sql   |
|----+--------------+-----------------+-----------------|
|  0 |            1 | True            | False           |
+----+--------------+-----------------+-----------------+

Column: Suffix
+----+--------------+--------------+--------------+
|    |   CustomerID | Suffix_csv   | Suffix_sql   |
|----+--------------+--------------+--------------|
|  0 |            1 | Sr.          |              |
+----+--------------+--------------+--------------+

Column: FirstName
+----+--------------+-----------------+-----------------+
|    |   CustomerID | FirstName_csv   | FirstName_sql   |
|----+--------------+-----------------+-----------------|
|  0 |            1 | Michael         | Orlando         |
+----+--------------+-----------------+-----------------+

Column: ModifiedDate
+----+--------------+---------------------+---------------------+
|    |   CustomerID | ModifiedDate_csv    | ModifiedDate_sql    |
|----+--------------+---------------------+---------------------|
|  0 |            1 | 2025-11-09 16:54:49 | 2005-08-01 00:00:00 |
+----+--------------+---------------------+---------------------+

Column: PasswordSalt
+----+--------------+--------------------+--------------------+
|    |   CustomerID | PasswordSalt_csv   | PasswordSalt_sql   |
|----+--------------+--------------------+--------------------|
|  0 |            1 | hOiGWAdS           | 1KjXYs4=           |
+----+--------------+--------------------+--------------------+